<div class="body-blog">
  <div class="row">
    <div class="leftcolumn">
      <div class="blog-container">
        {{#each blogpost as |blog|}}
        {{blog-details}}

        <div class="comments-container">
          {{#each blog.comments as |comment|}}
          {{> comment-details }}
          {{/each}}
        </div>

        {{/each}}
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card addBlogCard">
        <h3>Add New Blog:</h3>
        <a href="/blog" class="btn-floating btn-large waves-effect waves-light btnColor"><i
            class="material-icons">+</i></a>
      </div>
    </div>
  </div>
</div>

<script src="/js/comment.js"></script>
<script src="/js/deleteBlog.js"></script>