<div id='log-container' class='page-content'>
  <h2>Login</h2>
  <form class='form login-form'>
    <div class='row'>
      <div class='input-field col s12'>
        <input id='email-login' type='email' class='validate' required />
        <label for='email'>Email</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <input id='password-login' type='password' class='validate' required />
        <label for='password'>Password</label>
      </div>
    </div>
    <button class='btn loginBtn black' type='submit'>Login</button>
  </form>
</div>

<script src='/js/login.js'></script>