h1:not(:last-child) {
  /* border-bottom: 1px solid #ccc; */
  color: #26a69a;
}

.title {
  color: #26a69a;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.page-content {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #26a69a
}